body {
  background-color: #000066;
  color: #ffffff;
}
.header {
  display: flex; /* Active la mise en forme en lignes flexibles */
  align-items: center; /* Centre verticalement les éléments */
}

.avatar-container {
  margin-right: 10px; /* Ajoute un espace de 10 pixels entre l'avatar et le titre */
}
